.input-container {
                  display: inline-block;
                  vertical-align: top;
                  position: relative;
                  max-width: 100%;
              }

.inline-label {
                 padding: 10px;
             }
label{
                 font-weight:400;
             }

             /* style that just styles the input */
             .form-control {
                 border-top-right-radius: 0;
                 border-bottom-right-radius: 0;
                 border-bottom-left-radius: 1px;
                 border-top-left-radius: 1px;
                 /*  just adds the inset shadow  */
                 background-clip: padding-box;
                 border-width: 1px;
                 /*  default styles for the input  */
                 display: block;
                 padding: 19px 2px 3px;
             }

             select{
                 border: solid  #d3d3d3;
                 border-width:.02px
             }

             .textboxborder{
                 border: solid  #d3d3d3;
                 color: #777;
                 border-width:.02px
             }

             .form-control ~ .form-control-label {
                 -webkit-transition: all 0.5s ease;
                 -moz-transition: all 0.5s ease;
                 -o-transition: all 0.5s ease;
                 -ms-transition: all 0.5s ease;
                 transition: all 0.5s ease;
                 -webkit-transform-origin: 0%;
                 -moz-transform-origin: 0%;
                 -ms-transform-origin: 0%;
                 transform-origin: 0%;
                 position: absolute;
                 color: #777;
                 cursor: text; 
                 left: 2px;
                 top: .85em;
                 pointer-events: none;
                 white-space: nowrap;
                 max-width: 100%;
                 text-overflow: ellipsis;
                 overflow: hidden;
                 padding-right: 1px;
             }
             .form-control:focus {
                 color: #008374;
                 outline: none;
                 border: 0px solid #008374;
                 -webkit-box-shadow: 0px 0px 2px 0px #008374;
                 box-shadow: 0px 0px 2px 0px #008374;
             }
             .form-control:focus ~ .form-control-label {
                 color: #008374;
                 -will-change: all;
                 -webkit-transition: all 0.2s ease;
                 -moz-transition: all 0.2s ease;
                 -o-transition: all 0.2s ease;
                 -ms-transition: all 0.2s ease;
                 transition: all 0.2s ease;
                 -webkit-transform: scale(0.5 );
                 -ms-transform: scale(0.5 );
                 transform: scale(0.5);
                 -webkit-transform: scale(0.5);
                 -moz-transform: scale(0.5);
                 -o-transform: scale(0.5);
                 -ms-transform: scale(0.5);
                 transform: scale(0.5);
                 top: .086em;
                 max-width: 130%;
             }

             .form-control.filled ~ .form-control-label {
                 color: #008374;
                 -will-change: all;
                 -webkit-transition: all 0.2s ease;
                 -moz-transition: all 0.2s ease;
                 -o-transition: all 0.2s ease;
                 -ms-transition: all 0.2s ease;
                 transition: all 0.2s ease;
                 -webkit-transform: scale(0.5 );
                 -ms-transform: scale(0.5 );
                 transform: scale(0.5);
                 -webkit-transform: scale(0.5);
                 -moz-transform: scale(0.5);
                 -o-transform: scale(0.5);
                 -ms-transform: scale(0.5);
                 transform: scale(0.5);
                 top: 0.086em;
                 max-width: 130%;
             }
             select {
                 direction: ltr;
                 color:#555;
                 padding-top: 4px;

             }

             label {
                 display: inline-block;
                 margin-bottom: 12px;
             }
             td{
                 width:1.15em;
                 height:1.55em;
                 border:none;
                 padding-bottom:5px;
                 padding-top:5px;
                 padding-right:10px
             }


             #_helpQueryForm label {
                 width: 250px;
             }

             #_helpQueryForm label.error, #_helpQueryForm input.submit {
                 margin-left: 253px;
             }

             .inputError{
                 border: solid  #ff0000;
                 border-width:.02px
             }

             textboxclass{
                 width:1.95em;
                 height:1.55em;
                 padding-bottom:5px;
                 padding-top:5px;
                 padding-right:10px
             }

             .ui-datepicker {
                 background: #333;
                 border: 1px solid #555;
                 color: #EEE;
             }
             .auto-style1 {
                 height: 2em;
             }
             
             .transparentBtn {
                background-color: Transparent;
                background-repeat:no-repeat;
                border: none;
                cursor:pointer;
                overflow: hidden;
                outline:none;
                font-size: 2em;

            }

            .visuallyhidden {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }

            .select option{
                width:Auto;   
            }